<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MediaCrush</title>
        <meta name="description" content="MediaCrush makes sharing media super easy and super fast. 
        Upload images, audio, and video with none of the usual nonsense.">
        {% block meta %}{% endblock %}
        
        {% block mobile_responsive %}
            {% if mobile %}
                <meta name="viewport" content="width=device-width, user-scalable=no">
            {% endif %}
        {% endblock %}
    
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        {% block styles %}{% endblock %}

        {% if dark_theme %}
            <link rel="stylesheet" href="{{ url_for('static', filename='dark.css') }}">
        {% endif %}

        <script>
            window.mobile = {% if mobile %} true {% else %} false {% endif %};
            window.is_tor = {% if is_tor %} true {% else %} false {% endif %};
            window.cdn = "{{ cdn }}";
        </script>

        {% block scripts %}
            <script src="{{ url_for('static', filename='global.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block navigation %}
            <div class="navigation">
                <h1 class="brand">
                    <a href="/">
                        <img src="{{ url_for('static', filename='mediacrush_logo.svg') }}" alt="MediaCrush" width="24" height="24">
                        MediaCrush
                    </a>
                </h1>
                {% if not mobile %}
                <ul>
                    <li><a href="/">Upload</a></li>
                    <li><a href="/apps">Apps</a></li>
                    <li><a href="/donate">Donate</a></li>
                    <li><a href="//blog.mediacru.sh">Blog</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                <a href="javascript:switchTheme();" class="pull-right small hidden-if-noscript">
                    {% if dark_theme %}Light theme{% else %}Dark theme{% endif %}
                </a>
                {% else %}
                <ul>
                    <li><a href="/">Upload</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                {% endif %}
            </div>
            {% endblock %}
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block feedback %}
        <div id="feedback" class="hidden-if-noscript">
            <a href="#" id="toggle-feedback"><img src="{{ url_for('static', filename='feedback.png') }}" alt="How are we doing?"></a>
            <div>
                <textarea id="feedback-text"></textarea>
                <a class="button" href="#" id="send-feedback">Send feedback</a>
            </div>
        </div>
        {% endblock %}
        {% block analytics %}
        {% include "analytics.html" %}
        {% endblock %}
        {% block confirmation_dialog %}
        <div class="dialog hidden">
            <div>
                <h2>Are you sure?</h2>
                <p>This action cannot be undone.</p>
                <div class="buttons">
                    <button class="yes">Confirm</button>
                    <button class="no">Cancel</button>
                </div>
            </div>
        </div>
        {% endblock %}
        <script type="text/javascript">
            (function() {
                var hidden = document.querySelectorAll('.hidden-if-noscript');
                for (var i = 0; i < hidden.length; i++) {
                    hidden[i].classList.remove('hidden-if-noscript');
                }
            })();
        </script>
        {% if ads %}
        <!-- Project Wonderful Ad Box Loader -->
        <script>
           (function(){function pw_load(){
              if(arguments.callee.z)return;else arguments.callee.z=true;
              var d=document;var s=d.createElement('script');
              var x=d.getElementsByTagName('script')[0];
              s.type='text/javascript';s.async=true;
              s.src='//www.projectwonderful.com/pwa.js';
              x.parentNode.insertBefore(s,x);}
           if (window.attachEvent){
            window.attachEvent('DOMContentLoaded',pw_load);
            window.attachEvent('onload',pw_load);}
           else{
            window.addEventListener('DOMContentLoaded',pw_load,false);
            window.addEventListener('load',pw_load,false);}})();
        </script>
        <!-- End Project Wonderful Ad Box Loader -->
        {% endif %}
    </body>
</html>
